/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  /*========== Colors ==========*/
  --bg-color: #242e4c;
  --second-bg-color: #1c2540;
  --main-color: #c4317f;
  --white-color: #fff;
  --disabled-color: #fff3ff;
  --border-gray: #e5e7eb;
  --bg-button: #893168;
  --text-color-light: hsl(0, 0%, 64%);
  --container-color: hsl(0, 0%, 83%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h1-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.875rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;

  /*========== z index ==========*/
  --border-radius-base: 16px;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 768px) {
  :root {
    --h1-font-size: 3rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --h1-font-size: 4rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.5rem;
    --normal-font-size: 1.125rem;
  }
}

/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

body {
  color: var(--white-color);
  background-color: var(--bg-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

h1,
h2,
h3 {
  color: var(--white-color);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.root-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.section-spacer {
  padding: 3.5rem 0;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  vertical-align: middle;
  font-weight: 600;
  text-align: center;
  line-height: 1.5;
  background-color: var(--bg-button);
  border-color: var(--bg-button);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(23, 31, 56, 0.075);
  border-radius: 20px;
  border: 0.0625rem solid transparent;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    all 0.3s ease-in-out;
}

.btn-tertiary {
  color: var(--white-color);
  background-color: #893168;
  border-color: #893168;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(23, 31, 56, 0.075);
}

.btn:hover {
  background-color: #742a58;
  transform: translateY(-5px);
}

main {
  flex: 1;
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}

/*=============== HEADER & NAV ===============*/
header {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 16px;
  background-color: var(--bg-color);
  z-index: var(--z-fixed);
  transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.navbar {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-items: center;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  font-size: 2.2rem;
  color: var(--white-color);
  font-weight: var(--font-bold);
  animation: slideInFromLeft 1s ease-out forwards;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100px);
    opacity: 0.5;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.nav__menu {
  display: none;
}

@media (min-width: 768px) {
  .nav__menu {
    display: block;
  }
}

.nav__menu ul {
  display: flex;
  gap: 40px;
  animation: slideInFromTop 1s ease-out forwards;
}

.nav__item a {
  color: var(--white-color);
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  position: relative;
}

.nav__item a::after {
  position: absolute;
  content: "";
  width: 0;
  height: 3px;
  left: 0;
  bottom: -4px;
  background-color: var(--main-color);
  transition: width 0.3s ease-in-out;
}

.nav__item a:hover {
  color: var(--main-color);
}

.nav__item a:hover::after {
  width: 100%;
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-100px);
    opacity: 0.5;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.login-btn {
  display: none;
  cursor: pointer;
  animation: slideInFromRight 1s ease-out forwards;
}

@media (min-width: 768px) {
  .login-btn {
    display: flex;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100px);
    opacity: 0.5;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.nav__toggle {
  width: 32px;
  height: 32px;
  background-color: var(--bg-button);
  display: grid;
  place-items: center;
  font-size: 1.25rem;
  cursor: pointer;
}

@media (min-width: 768px) {
  .nav__toggle {
    display: none;
  }
}

/*=============== MOBILE NAV ===============*/

/* .nav__mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 70vw;
  height: 100vh;
  background-color: hsla(0, 0%, 0%, 0.75);
  padding: 1.5rem;
  z-index: 10000;
  border-top-left-radius: var(--border-radius-base);
  border-bottom-left-radius: var(--border-radius-base);
}

.close-btn {
  position: absolute;
  right: 1.5rem;
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: var(--h2-font-size);
  cursor: pointer;
}

.nav__mobile-list ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 70px;
}

.nav__link {
  position: relative;
  font-weight: var(--font-medium);
  font-size: var(--h3-font-size);
}
.nav__link::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: var(--main-color);
  position: absolute;
  left: 0;
  bottom: -4px;
  transition: width 0.3s ease;
}

.nav__link:hover {
  color: var(--main-color);
}

.nav__link:hover::after {
  width: 100%;
} */

/*=============== HERO SECTION ===============*/

.hero-banner__container {
  height: 100vh;
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap-reverse;
  text-align: center;
}

@media (min-width: 768px) {
  .hero-banner__container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    text-align: left;
    gap: 80px;
  }
}

@media (min-width: 1024px) {
  .hero-banner__container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: left;
    gap: 80px;
  }
}

.hero-banner__container > div {
  flex: auto;
}

.hero-banner__left {
  animation: slideInFromRight 1s ease-out forwards;
}

.hero-banner__left h1 {
  font-size: var(--h1-font-size);
}

.hero-banner__left h1 span {
  position: relative;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 1.12px var(--main-color);
  animation: display-text 16s linear infinite;
  animation-delay: calc(-4s * var(--i));
}

@keyframes display-text {
  25%,
  100% {
    display: none;
  }
}

.hero-banner__left h1 span::before {
  content: attr(data-text);
  position: absolute;
  width: 0;
  border-right: 3.2px solid var(--main-color);
  color: var(--main-color);
  white-space: nowrap;
  overflow: hidden;
  animation: fill-text 4s linear infinite;
}

@keyframes fill-text {
  10%,
  100% {
    width: 0;
  }

  70%,
  90% {
    width: 100%;
  }
}

.hero-banner__left h2 {
  font-size: var(--h2-font-size);
}

.hero-banner__left p {
  margin: 16px 0 30px;
  text-align: justify;
}

.hero-banner__media-social {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .hero-banner__media-social {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}

@media (min-width: 1024px) {
  .hero-banner__media-social {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}

.download-cv_btn {
  display: inline-block;
  padding: 16px 48px;
  background-color: var(--main-color);
  border: 3.2px solid var(--main-color);
  border-radius: 64px;
  box-shadow: 0 0 16px var(--main-color);
  color: var(--bg-color);
  font-weight: 500;
  transition: 0.5s;
  margin-right: 12.8px;
}

.download-cv_btn:hover {
  background-color: transparent;
  color: var(--main-color);
  box-shadow: none;
}

.media-social__icons {
  display: flex;
}

.media-social__icons a {
  display: inline-flex;
  padding: 12.8px;
  border: 3.2px solid var(--main-color);
  border-radius: 50%;
  font-size: 1.2rem;
  color: var(--main-color);
  margin: 0 12.8px;
  transition: 0.5s;
}

.media-social__icons a:hover {
  background-color: var(--main-color);
  color: var(--bg-color);
  box-shadow: 0 0 16px var(--main-color);
}

.hero-banner__right {
  display: flex;
  justify-content: center; /* canh ngang */
  align-items: center; /* canh dọc */
  animation: slideInFromLeft 1s ease-out forwards;
}

.hero-banner__box-image {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 50%;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-banner__box-image::before,
.hero-banner__box-image::after {
  content: "";
  position: absolute;
  width: 50rem;
  height: 50rem;
  background: conic-gradient(
    transparent,
    transparent,
    transparent,
    var(--main-color)
  );
  transform: rotate(0deg);
  animation: rotate-border 10s linear infinite;
}

@keyframes rotate-border {
  100% {
    transform: rotate(360deg);
  }
}

.hero-banner__box-image::after {
  animation-delay: -5s;
}

.hero-banner__image {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  border-radius: 50%;
  border: 0.01rem solid var(--bg-color);
  display: flex;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
}

.hero-banner__image img {
  top: 3rem;
  display: block;
  object-fit: cover;
}

@media (min-width: 1024px) {
  .hero-banner__box-image {
    width: 100%;
  }
}

/*=============== PROJECTS SECTION ===============*/

.projects__container {
  border-radius: 12px;
  width: 100%;
}

.projects__title {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: var(--h2-font-size);
}

.projects__list ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

@media (min-width: 768px) {
  .projects__list ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .projects__list ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

.project__card {
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  background-color: #1c2540;
  border-radius: var(--border-radius-base);
  box-shadow: rgba(255, 255, 255, 0.1) 0 4px 6px -1px,
    rgba(255, 255, 255, 0.06) 0 2px 4px -1px;
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
}

.project__card:hover {
  transform: translateY(-3px) scale(1.02);
  box-shadow: 0 8px 20px rgba(196, 49, 127, 0.35); /* shadow hồng tím đẹp, hơi lớn */
  cursor: pointer;
}

.project__image {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.project__card-body {
  flex: 1 1 auto;
  padding: 20px 24px;
}

.project__card-body .card-title {
  margin: 16px 0;
  font-size: var(--h3-font-size);
}

.project__card-body .card-description {
  font-size: var(--normal-font-size);
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 16px;
}

.project__card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.card-link > span {
  margin-right: 10px;
}

/*=============== ABOUT SECTION ===============*/
.about__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (min-width: 1024px) {
  .about__container {
    flex-direction: row;
  }
}

.about__description,
.about__image-media {
  flex: 1;
}

.about__description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about__description p {
  text-align: left;
}

.about__image-media {
  background-color: #2f3955;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.about__image-media img {
  width: 90%;
  height: 95%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*=============== CONTACT SECTION ===============*/
.contact__container {
  height: 100%;
  max-width: 600px;
}

.contact__container > h2 {
  text-align: center;
}

#contact__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-control input,
.form-control textarea {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  outline: none;
  font-size: 1rem;
  border: 0.0625rem solid #d1d5db;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control textarea {
  max-height: 300px;
  resize: vertical;
  height: 200px;
}

.form-control input:focus,
.form-control textarea:focus {
  border-color: #63b3ed; /* xanh nhạt khi focus */
  box-shadow: 0 0 12px rgba(99, 179, 237, 0.9);
}

/* .card-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 150px;
  line-height: 1.5;
  font-weight: 600;
  color: var(--white-color);
  background-color: var(--bg-button);
  border-color: var(--bg-button);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(23, 31, 56, 0.075);
  border-radius: 16px;
  transition: all 0.2s ease;
  padding: 8.8px 12px;
  cursor: pointer;
  margin-bottom: 24px;
} */
